<div>

  <div>
    <table>
      <thead>
      <tr>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let r of recruitments,index as i">
        <td>{{i + 1}}</td>
        <td style="text-align: left">{{r.id}}</td>
        <td>{{r.salary}}</td>
        <td>{{r.address}}</td>
        <td>{{r.description}}</td>
        <td>{{r.experience}}</td>
        <td>{{r.numberOfRecruitments}}</td>
        <td>{{r.dateBegin}}</td>
        <td>{{r.dateEnd}}</td>
        <td>{{r.gender}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--    phân trang-->
  <div>
    <div class="mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-md-end justify-content-center">
          <li class="page-item"><a class="page-link" (click)="firstPage()">Đầu</a></li>
          <li class="page-item"><a class="page-link" (click)="previousPage()">Trang trước</a></li>
          <!--                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
          <li class="page-item col-md-1 col-2  px-0">
            <!--                        <input class="form-control shadow-none rounded-0" type="text" placeholder="2/5">-->
            <div class="input-group">
              <input type="number" min="1" [max]="totalPagination" class="form-control text-right rounded-0"
                     placeholder="2" aria-label="Username"
                     aria-describedby="basic-addon1" [value]="indexPagination"
                     (change)="indexPaginationChage($event.target)">
            </div>
          </li>
          <li class="page-item"><a class="page-link" (click)="nextPage()">Trang kế</a></li>
          <li class="page-item"><a class="page-link" (click)="lastPage()">Cuối</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
